<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>정치 오뚜기</title>

    <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/1p">정치 오뚜기</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/1p">소개 </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/2p">기사 및 사설 성향 분류<span class="sr-only">(current)</span> </a>
          </li>
         <li class="nav-item">
            <a class="nav-link" href="/3p">개인 글 성향 분류</a>
          </li>
        </ul>
      </div>
        <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="단어를 입력 해주세요." aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-1" type="submit">Search</button>
  </form>
    </nav>
</div>

</head>

<body>

<ul class="list-group">
  <li class="list-group-item"><a href="https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=100&oid=081&aid=0003021314">靑 “日에 D램 수출중단은 사실무근”… 소재부품장비 1조 6578억 이달 예타 면제</a></li>
  <li class="list-group-item"><a href="https://news.naver.com/main/read.nhn?mode=LS2D&mid=shm&sid1=100&sid2=264&oid=001&aid=0011017749">안중근 손녀 "내 나라 묻히러와" 文대통령 "안중근 기개 떠올라"(종합)</a></li>
  <li class="list-group-item"><a href="https://news.naver.com/main/read.nhn?mode=LS2D&mid=shm&sid1=100&sid2=265&oid=018&aid=0004444844">정미경 "한일 갈등, 文정부 자작극" 주장에 민주 "일베 게시판?"</a></li>
  <li class="list-group-item"><a href="https://news.naver.com/main/read.nhn?mode=LS2D&mid=shm&sid1=100&sid2=268&oid=022&aid=0003388904">北 ‘신무기 개발’ 103명 승진 잔치</a></li>
  <li class="list-group-item"><a href="https://news.naver.com/main/read.nhn?mode=LS2D&mid=shm&sid1=100&sid2=266&oid=081&aid=0003021311">[단독] 연금공단 이사장 “日 전범기업 투자 제한 절대로 안 될 일”</a></li>
  <li class="list-group-item"><a href="https://news.naver.com/main/read.nhn?mode=LS2D&mid=shm&sid1=100&sid2=267&oid=001&aid=0011017731">정부 "후쿠시마 원전 오염수 적극 대응"…도쿄올림픽 겨냥 압박(종합3보)</a></li>
  <li class="list-group-item"><a href="https://news.naver.com/main/read.nhn?mode=LS2D&mid=shm&sid1=100&sid2=269&oid=422&aid=0000387982"> 안철수, 쏟아지는 러브콜에도 조기복귀 일축</a></li>
</ul>


<script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"></link>
    <script type="text/javascript">
    $(function() {
        var ctx1 = $('#pieChart');
        var myPieChart = new Chart(ctx1, {
            type: 'pie',
            data: {
                labels: ['보수', '진보'],
                datasets: [{
                    label: '', data: [70, 30],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)'],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)'],
                    borderWidth: 1
                }]
            },
            options: {
                legend: {
                    display:false
                },
                title: {
                  display: true,
            text: '현재 클릭하신 기사의 정치 성향 비율입니다.',
            position: 'top',
            fontSize: 30,
            padding: 20
                },

            }
        })
    })
    </script>

<canvas id="pieChart"></canvas>

</body>




</style>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>